<header class="primary-header">
	<button
	(click)="atributo()"
	class="mobile-nav-toggle"
	aria-controls="primary-navigation"
	aria-expanded="false"
  >
	<span class="sr-only">Menuuuuuu</span>
  </button>
<div id="menu" data-visible="false" class="primary-navigation bg-gray-900 min-h-screen z-10 text-slate-300 w-64 left-0 h-screen overflow-y-scroll">
	<div  id="logo" class="my-4 px-6">
		<div>
			<button [routerLink]="'/home/information'">
			<img src="../../../../assets/images/VYM (5).png" alt="">
			</button>
		</div>
	 <br/>
	 <p class="text-slate-500 text-sm">Manage your actions and activities</p>
	</div>
	<div id="profile" class="imageProfile px-6 py-15">
	 <p class="welcomeMessage text-slate-500">Bienvenido!</p>
	 <a class="inline-flex space-x-2 items-center">
		 <span>
			 <img  class="rounded-full w-8 h-8" src="{{currentUser()!.image}}" alt="">
		 </span>
		 <span  class="text-sm md:text-base font-bold">
			 {{currentUser()!.name}}
		 </span>	
		 </a>
	</div>

	<div id="nav" 
	class=" w-full px-6"
	
	>
	 
	

		<a  *ngFor="let items of navBarRoutes" 
			[routerLink]="items.url" class="listHome w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:c-red/5 transition ease-linear duration-150">


		 <div class="itemscolor flex flex-col">
			 <span class="text-lg font-bold leading-5 text-white"> {{items.label}} </span>
			 <span class="text-sm text-white/50 hidden md:block"> {{items.description}} </span>
		 </div>
	 	</a>
		
		<button (click)="logout()" class="btn-logout"> Cerrar Sesion</button>
	
	</div>
 </div>
</header>
