<div class="spacer">

<div class="graphContainer">


	<div class="graphbox2">

		<div class="card">
			<p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
		</div> 
	
		<div class="card">
			<p-chart type="bar" [data]="data" [options]="basicOptions"></p-chart>
		</div>
	</div>
	
	
	<div class="graphbox">
	
		
		<div class="card">
			<p> Clientes por Agente </p>
			<p-chart type="doughnut" [data]="dataDonut" [options]="options"></p-chart>	
			
		</div>

		
	</div>
	</div>
	
</div>

