.spacer{
	margin-left: 250px; /*! para que no pegue con el navbar fixed */
}

.graphContainer{
	display: flex;
	justify-content: space-evenly
}

.card{
	color: rgb(255, 255, 255);
	background: rgba(24, 23, 23, 0.668);
	padding: 20px;
	box-shadow: 20px 0px 20px rgb(44, 45, 46)
}


h2, h1, p {
	text-align: center;
	padding-bottom: 10px;
}


/* INTENTO 2 DE CHART */

.graphbox {
	position: relative;
	width: 30%;
	height: 40%;
	padding: 20px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 20px;
	min-height: 30px;
	margin-top: 200px;
	
}

.graphbox2 {
	position: relative;
	width: 60%;
	padding: 20px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 20px;
	min-height: 200px;
}

.graphbox .box4{
position: relative;
background-color: #fff;
padding: 20px;
width: 100%;
height: 50%;
box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
border-radius: 20px;
}


.graphbox2 .box1, .box2 {
	position: relative;
	background-color: #fff;
	padding: 10px;
	width: 90%;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}





/*! MEDIA SIZE */

@media only screen and (max-width: 1110px) {
	.spacer {
		margin-left: 0px;

		
	}

	.graphbox2{
		display: grid;
		grid-template-columns: 100%;
		min-height: 500px;
	}
}

@media only screen and (max-width: 1110px) {

	
	.graphContainer{
		flex-direction: column;
		padding: 50px;
	}

	.graphbox2 {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		min-height: 200px;
		padding: 0px;
	}

	.graphbox {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		min-height: 200px;
		padding: 0px;
		margin-top: 20px;
	}

	.box2 {
		width: 100%;
		height: 110%;
	}


}

@media only screen and (max-width: 500px) {

	.graphContainer{
		padding: 0px;
	}
}


@media only screen and (max-width: 400px) {
	.box2 {
		width: 300px;
		height: 300px;
	}

	#ventCharts{
		width: 300px;
		height: 300px;
	}

	.graphbox2{
		padding: 0px;
	}
	
	.graphbox{
		width: 100%;
	}
}

