
	<div class=" containerClient">
		<img src="../../../../assets/images/HOJA 3Mesa de trabajo 1.png" alt="">
		<section class="titles">
			<h2> O10 </h2>
			<h1> Titulo del cliente </h1>
		</section>
			<hr>
			<br>
			<section class="descriptionList">
				<ul>
					<li>
						<p> Provincia</p>
					</li>
					<li>
						<p> Telefono</p>
					</li>
					<li>
						<p> Correo</p>
					</li>
					<li>
						<p> Direccion</p>
					</li>
					<li>
						<p> Como llegar</p>
					</li>
				</ul>
			</section>
	</div>



