.containerClient{
	background-color: #fff;
	position: relative;
	width: 300px;
	margin-top: 200px;
	margin-left: 10px;
	border-radius: 10px;
	padding: 5px;

}

.containerClient h1, h2{
	padding: 15px;
	font-size: 20px;
	font-weight: 100;
	text-align: center;

}


img{
	width: 200%;
	height: 200px;
}


.descriptionList ul li{
	padding-top: 5px 5px 5px
}

.titles{
	display: flex;
}

li{
	padding: 20px;
}