.containerClient{
	background-color: #fff;
	position: absolute;
	width: 300px;
	border-radius: 10px;
	padding: 5px;

}

.containerClient h1, h2{
	padding: 15px;
	font-size: 20px;
	font-weight: 100;
	text-align: center;

}


img{
	width: 200%;
	height: 200px;
}


.descriptionList ul li{
	padding-top: 5px 5px 5px
}

.titles{
	display: flex;
}

li{
	padding: 20px
}


/**  BTN MENUS*/

.btnMenu{
	display: flex;
	padding: 10px 22px;
	flex-wrap: wrap;
}


.btn1{
	-webkit-box-flex:  1;
	flex: 1 1 0px;
	text-align: center;
	padding: 4px;
}

