
	<div *ngIf="itemHijo?._id">
		<div>
				<button class="closeCard pi pi-times" (click)="hideCardClient()"></button>
		</div>
		
		<div class=" containerClient">
			<img src="{{itemHijo?.image}}" alt="">
			<section class="titles">
				<h2 class="agenteTitle"> {{itemHijo?.agente}} </h2>
				<h1> {{itemHijo?.title}} </h1>
			</section>
			<hr>
			<div class="btnMenu">
				<div class="btnEdit">
					<button class="material-symbols-outlined">directions_car</button>
					
				</div>
				<div class="btnAdd">
					<button class="newLocationbtn material-symbols-outlined" (click)="addNewLocation()">add_location_alt</button>
				</div>
				<div class="btnDel">
					<button class="deletebtn material-symbols-outlined" (click)="toogleLocations()">delete</button>
				</div>
			</div>
			<hr>
			<div class="btnMenu">
				<div class="btnEdit">
					<span class="material-symbols-outlined">mail</span>
					<p> {{itemHijo?.email}} </p>
				</div>
			</div>
				<hr>
				<br>
	
				<section class="descriptionList">
					<ul >
						<!-- <li>
							<span class="material-symbols-outlined">badge</span>
						</li> -->
						<li>
							<span class="material-symbols-outlined">location_on</span>
							<p> {{itemHijo?.provincia}} </p>
						</li>
						<li>
							<span class="material-symbols-outlined">call</span>
							<p> {{itemHijo?.telefono}} </p>
						</li>
						<li>
							<span class="material-symbols-outlined">hallway</span>
							<p> {{itemHijo?.description}} </p>
						</li>
					</ul>
				</section>
				<app-delete-dialog (changeToTrue)="toogleLocations()" [hidePlacesChild]="hidePlaces" [ChildLocation]="itemHijo"></app-delete-dialog>
		</div>


	</div>
	



