
<app-client-card-mobile-fv [(size)]="fontSizePx" (sizeChange)="fontSizePx=$event" [itemHijo]="itemHijo"  *ngIf="itemHijo"></app-client-card-mobile-fv>


<div class="mobile-container" (click)="toogleLocations()">


	<div *ngIf="itemHijo?.image"  class="image-container">
		<img src="{{itemHijo?.image}}" alt="">
	</div>

<div class="container-info" >

	<div class="info-container">
		<div>
			<p>{{itemHijo?.provincia}} </p>
		</div>
		<section>
			<p> TEL: {{itemHijo?.telefono}} </p>
		</section>

		<section class="closeTab">
			<button class="pi pi-times"></button>
		</section>

	</div>

	<div  class="name">
			<p> {{itemHijo?.title}} </p>
	</div>

</div>

</div>