<body>
	<h2 class="tituloPrincipal">Informacion de la empresa</h2>

	<div class="container">

		<h1>
			VyM Electrica Costa Rica S.A
		</h1>
		<p>
			Detalles de la empresa
		</p>


		<div>
			<img src="../../../../assets/images/VYM (5).png" alt="">
		</div>

		<div>
			<section class="info">

				<div class="infoVym1">
				
				<label for="">Nombre</label>
				<span>
					VYM Electrica Costa Rica S.A
				</span>

				<label for="">Pais</label>
				<span>
					Costa Rica
				</span>

				<label for="">Provincia</label>
				<span>
					San José 
				</span>

				<label for="">Codigo Postal</label>
				<span>
					11401
				</span>


				</div>

				<div class="infoVym2">

				<label for="">Telefono</label>
				<span>
					506 2283-2210
				</span>
				
				<label for="">Cedula Juridica</label>
				<span>
					3 101 786 540
				</span>

				<label for="">Correo Electronico:</label>
				<span>
					vymelectricacr@yahoo.com
				</span>

				<label for="">Direccion</label>
				<span>
					Cruce de Moravia 600 Metros Este
				</span>

				</div>

			</section>

		</div>

	</div>

</body>

