<div  *ngIf="size" class="container">

<div class="title ">
	<button class="closeTab pi pi-angle-down" (click)="resize()"> </button>
</div>

<div class="imageContainer">
	<img src="{{itemHijo?.image}} " alt="">
	<div class="grid">
		<h2> {{itemHijo?.agente}} </h2>
		<h2 class="titleName"> {{itemHijo?.title}}</h2>
	</div>
</div>

<div class="socialMedia-container">
		<button class="pi pi-whatsapp"></button>
		<button class="pi pi-instagram"></button>
		<button class="pi pi-facebook"></button>
		<button class="pi pi-globe"></button>
</div>

<div>
	<section class="descriptionList">
		<ul >
			<li *ngIf="itemHijo?.driveToLocation">
				<span class="pi pi-car"></span>
				<p> {{itemHijo?.driveToLocation}} </p>
			</li>
			<li>
				<span class="pi pi-map-marker"></span>
				<p> {{itemHijo?.provincia}} </p>
			</li>
			<li>
				<span class="pi pi-phone"></span>
				<p> (506) {{itemHijo?.telefono}} </p>
			</li>
			<li>
				<span class="material-symbols-outlined">mail</span>
				<p> {{itemHijo?.email}} </p>
			</li>
			<li>
				<span class="material-symbols-outlined">hallway</span>
				<p> {{itemHijo?.description}} </p>
			</li>
		</ul>
	</section>

</div>







</div>
