<div  *ngIf="size" class="container">

<div class="title ">
	<button class="closeTab pi pi-angle-down" (click)="resize()"> </button>
</div>

<div class="imageContainer">
	<img src="{{itemHijo?.image}} " alt="">
	<div class="grid">
		<h2> {{itemHijo?.agente}} </h2>
		<h2 class="titleName"> {{itemHijo?.title | titlecase}}</h2>
	</div>
</div>

<div class="socialMedia-container" *ngIf="itemHijo?.facebook || itemHijo?.webPage || itemHijo?.instagram || itemHijo?.whatsApp">

		<a class="whatsapp pi pi-whatsapp" *ngIf="itemHijo?.whatsApp"  href="{{itemHijo?.whatsApp}}"  target="_blank"></a>
		<a class="instagram pi pi-instagram" *ngIf="itemHijo?.instagram"  href="{{itemHijo?.instagram}}"  target="_blank"></a>
		<a class="facebook pi pi-facebook" *ngIf="itemHijo?.facebook" href="{{itemHijo?.facebook}}"  target="_blank"></a>
		<a class="web pi pi-google" *ngIf="itemHijo?.webPage"  href="{{itemHijo?.webPage}}"  target="_blank"></a>

</div>

<div class="infoContainer">

	<div class="infoImages"  >
		<span  *ngIf="itemHijo?.driveToLocation" class="pi pi-car"></span>
		<span  class="pi pi-map-marker"></span>
		<span  class="pi pi-mobile"></span>
		<span  class="pi pi-envelope"></span>
		<!--<span  *ngIf="itemHijo?.description" class="pi pi-phone"></span> -->
	</div>

	<div class="infoDetails">

		<a  *ngIf="itemHijo?.driveToLocation"  href="{{itemHijo?.driveToLocation}}" target="_blank"> Obtener dirección</a>
		<p> {{itemHijo?.provincia}}</p>
		<p>	{{itemHijo?.telefono}}</p>
		<p> {{itemHijo?.email}}</p>
		<!--<p> {{itemHijo?.description}} </p> -->
	</div>

</div>

<div class="infoDescription">
		<p> {{itemHijo?.description| titlecase}} </p>
</div>







</div>
