.container {
	position: absolute;
    top: 0%;
    left: 0%;
    color: white;
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
	z-index: 3;
    padding: 0px;
    margin: 0px;


}

.infoContainer{
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid #434142;
    background: #272727;

}

.infoDescription{
    display: flex;
    border: 2px solid #434142;
    background: #272727;
    margin: 10px;
    border-radius: 5px;

}

.infoDescription p{
    font-weight: 500;
}

.infoContainer span, p, a{
    padding: 20px;
    margin: 0px;
    text-decoration: none;
}

.infoContainer a{
    background-color: #209486;
    color: whitesmoke;
    margin: 10px;
    width: 147px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20%;
}


.infoDetails, .infoImages{
    display: flex;
    flex-direction: column;
}

.infoImages{
    border: 2px solid #434142;
    background: #3a3739;
    border-radius: 50px;
}






.title{
    width: 100%;
    margin: 0  auto;
    display: flex;
    justify-content: center;
    background: #818ea1;
}


/*! flecha para cerrar el tab*/
.closeTab{
    font-size: 25px;
    border: none;
    background: transparent;
}

/*! Controlador de la imagen y titulo y agente cod*/
.imageContainer{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 3fr;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    background: #272727;
}

img{
    width: 100vw;
    height: 30vh;
}


/* OCIAL MEDIA CONTAINER */

.socialMedia-container{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #434142;
    margin: 0px 17px;
    border-radius: 50px;
    background: #272727;

    
}
.socialMedia-container a{
    font-size: 25px;
}


.socialMedia-container .whatsapp{
    color: #58D68D
}

.socialMedia-container .facebook{
    color: 	#1877F2
}

.socialMedia-container .instagram{
    color: 	#E91E63
}

.socialMedia-container .web{
    color: 	#F1C40F
}

/* Informacion general  */



span{
    font-size: 22px;
    padding-right: 38px
}

.titleName{
    font-size: 20px;
    font-weight: 500;
}

