<div  *ngIf="itemHijo" class="container">

<div class="title ">
	<button class="closeTab pi pi-angle-down"> </button>
</div>

<div class="imageContainer">
	<img src="{{itemHijo.image}} " alt="">
	<div class="grid">
		<h2> O10 </h2>
		<h2> Nombre del cliente</h2>
	</div>
</div>

<div class="socialMedia-container">
		<button class="pi pi-whatsapp"></button>
		<button class="pi pi-instagram"></button>
		<button class="pi pi-facebook"></button>
		<button class="pi pi-globe"></button>
</div>

<div>
	<section class="descriptionList">
		<ul >
			<li>
				<span class="pi pi-car"></span>
				<p> Ir a la Ubicacion </p>
			</li>
			<li>
				<span class="pi pi-map-marker"></span>
				<p> Provincia </p>
			</li>
			<li>
				<span class="pi pi-phone"></span>
				<p> telefono </p>
			</li>
			<li>
				<span class="material-symbols-outlined">mail</span>
				<p> email </p>
			</li>
			<li>
				<span class="material-symbols-outlined">hallway</span>
				<p> description </p>
			</li>
		</ul>
	</section>
</div>







</div>
