.page-header{
	font-size: 25px;
	padding: 20px;
	margin-bottom: 20px;
}

.img-avatar{
	height: 200px;
	width: 270px;
	margin: 0 auto;
}

.img-center{
	display: flex;
	padding: 20px;
	flex-direction: column;
	border: 1px solid #646e7c;
	border-radius: 5px;
}

img{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 200px;
}

h3{
	font-size: 15px;
	opacity: 0.5;
	margin-bottom: 20px;
}


  .BtnUpdated{
	font-weight: bold;
	padding: 0.5em;
	border: thin solid #38bdf8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #38bdf8;
	color: black;
	transition: 1s;
	cursor: pointer;
	padding: 15px;

  }

  .BtnUpdated:hover{
	background-color: rgb(129, 197, 236);
	cursor: pointer;
  }

  .btns-upload{
	display: flex;
	align-items: baseline;
	justify-content: center;
  }

  

  .btn-upload{
	border-radius: 4px;
	color: black;
	border: none;
	padding: 14px;
	background: #38bdf8;
	font-weight: 600;
	margin-top: 50px;
  }

  .btn-upload:disabled{
	opacity: 0;
	cursor: not-allowed;
  }