

<h3>Imagen de Usuario</h3>
<div class="img-center">
  <img *ngIf="!imgTemporal" src="{{ test }}" class="img-avatar" alt="" />
  <img *ngIf="imgTemporal" src="{{ imgTemporal }}" class="img-avatar" />
  <input type="file" (change)="uploadFile($event)" id="selectedFile" style="display: none;" />
  <input type="button" class="BtnUpdated" value="Cambiar Imagen" onclick="document.getElementById('selectedFile').click();" />
</div>



<div class="btns-upload">
  <button
    class="btn-upload"
    (click)="upImage()"
    [disabled]="!file"
  >
    Guardar Imagen
  </button>
</div>