<div class="container-map">
  <div class="container mt-6">
    <h3>Agregar Ubicacion</h3>
    <form action="" [formGroup]="myForm">
      <div>
        <label for="exampleInputEmail1">Nombre</label>
        <input
          formControlName="title"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el nombre de la Ubicacion"
        />
      </div>
      <div>
        <label for="exampleInputEmail1">Agente</label>
        <select class="form-select" aria-label="Default select example" formControlName="agente">
          <option value="O10">O10</option>
          <option value="23">23</option>
          <option value="R12">R12</option>
          <option value="V01">V01</option>
          <option value="P10">P10</option>
          <option value="W32">W32</option>
          <option value="M33">M33</option>

        </select>
      </div>
      <div>
        <label for="exampleInputEmail1">Provincia</label>
        <select class="form-select" aria-label="Default select example" formControlName="provincia">
          <option value="San Jose">San Jose</option>
          <option value="Heredia">Heredia</option>
          <option value="Cartago">Cartago</option>
          <option value="Alajuela">Alajuela</option>
          <option value="Limon">Limón</option>
          <option value="Guanacaste">Guanacaste</option>
          <option value="Puntarenas">Puntarenas</option>

        </select>
      </div>

      <div>
        <label for="exampleInputEmail1">Decripcion</label>
        <input
          formControlName="description"
          class="form-control"
          placeholder="Ingrese una descripcion"
        />
      </div>
      <div>
        <label for="exampleInputEmail1">Ubicacion</label>
        <div class="latitud_input">
          <input
            [readonly]="true"
            formControlName="lngLat"
            type="text"
            class="form-control"
            placeholder="Latitud y Logitud"
          />
          <button (click)="inputFormValue()" class="btn btn-primary ms-1">+</button>
        </div>
      </div>
      <button [disabled]="myForm.invalid" (click)="saveNewLocation()" class="btn btn-primary mt-5 w-100">Guardar</button>
    </form>
  </div>







  <div class="div-map mt-6">
    <div #mapDiv class="map-container"></div>
    <button (click)="createMarker()" class="btn-map btn btn-primary"> Añadir Marcador </button>
  
    <div class="input-Lng">
      <label class="label-lnglat"> Longitud </label>
      <input class=" form-control" type="text" [value]="test?.lng">
      </div>

    <div class="input-Lat">
    <label class="label-lnglat"> Latitud </label>
    <input class=" form-control" type="text" [value]="test?.lat">
      
    </div>


  </div>




    
 


</div>
