@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');


.container-form{
	background-color: #1f2937;
	border-radius: 20px;
	margin-left: 250px; /*! para que no pegue con el navbar fixed */
	width: 55%;
	padding-right: 50px;
	padding-left:  50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* tamaño de los impu */
.form-control{
	width: 100%;
}

/* parrafo */
p{
	color: whitesmoke;
	opacity: 0.9;
	font-weight: 600;
}

/** FORM TITLE **/
h3{
	text-align: center;
	color: white;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 500;
}

label{
	color: white;
	margin-bottom:10px;
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 600;
	opacity: 0.9;
}

::placeholder {
	color: gray;
	opacity:  0.4;
}

.btnFormSubmit, .btnFormMarker{
	padding: 9px;
	background: #38bdf8;
	color: black;
	border-radius: 10px;
	border: none;
	width: 50%;
	font-weight: 600;
	margin-top: 40px;
	transition: 1.5s
}

.btnFormSubmit[disabled]{
	opacity: 0.3;
	cursor: not-allowed;
	background: #94a3b8;
	
}

.btnFormMarker{
	width: 90px;
	font-size: 50px;
	font-weight: 300;
	background-color: #fb923c;
}

.flex-agente-provincia{
	display: flex;
	justify-content: space-between;

}

.flex-email-tel{
	display: flex;
	justify-content: space-between
}

.select-agente-input{
	width: 100%;
}

.btnsForm{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	
}

.spacer{
	padding: 20px;
}

/*! FORMULARIO */

.validatorMessage{
	display: flex;
	flex-direction: column;
}
/*! SECCION MAPA */

.container-map{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	grid-auto-rows: minmax(100px, auto);
	align-items: center;
	margin-top: 45px;
	padding: 20px;
	
}

/*! como se ve el mapa */

.map-container{
	top: 0px;
	right: 0px;
	width: 50vw;
	height: 80vh;
	margin-top: 20px;
	border-radius: 10px;
	font-family: 'Poppins';
}

.div-map{
	
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 10px;
	background-color: #1f2937;
}

.btnsMapInput{
	display: flex;
	padding: 20px;
	justify-content: space-between;
}

.input-Lng, .input-Lat{
	display: flex;
	justify-content: space-around;
}

.input-lnglat{
	width: 70%
}

.btn-map{
	font-weight: 300;
	background-color: #fb923c;
	border-radius: 10px;
	border: none;
	color: black;
	font-weight: 600;
}


@media only screen and (max-width: 1110px) {

	.container-map{
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 30px;
		grid-auto-rows: minmax(100px, auto);
		align-items: center;
		margin-top: 45px;
		padding: 20px;
		
	}

	.container-form{
		margin-left: 0px;
		width: 100%;
		height: 100%;
		justify-content: center;
		
	}

	.btnsMapInput{
		display: flex;
		flex-direction: column;
	

	}

	.btnsMapInput, .input-Lng, .input-Lat{
		margin-top: 20px;

	
	}

	.map-container{
		width: 88vw;
		height: 60vh;
	}

	.btn-map{
		width: 20%;
		padding: 20px;
	}

	#menu{
		display: none;
	}
}


@media only screen and (max-width: 1000px) {

	.map-container{
		width: 86vw;
		height: 60vh;
	}

}

@media only screen and (max-width: 800px) {

	.map-container{
		width: 84vw;
		height: 60vh;
	}

}

@media only screen and (max-width: 700px) {

	.map-container{
		width: 82vw;
		height: 60vh;
	}

}

@media only screen and (max-width: 700px) {

	.map-container{
		width: 80vw;
		height: 60vh;
	}

}

@media only screen and (max-width: 600px) {

	.map-container{
		width: 78vw;
		height: 60vh;
	}

}


@media only screen and (max-width: 600px) {

	.map-container{
		width: 72vw;
		height: 45vh;
	}

}

@media only screen and (max-width: 500px) {

	.map-container{
		width: 76vw;
		height: 40vh;
	}

}