.container{
	background: #fff;
	width: 250px;
	display: relative;
	top: 20px;
	padding: 20px;
	text-align: center;
	border: #ff0055;
	z-index: 9999;
}

.btn-container{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	
}

.btn-delete,.btn-cancel{
	background: #ff0055;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.btn-cancel{
	background: #0f75e9;

}

.locationName{
	color: #0671c3;
}

h1{
	font-size: 14px;
}