<div class="container">
<p-table 
#dt1
dataKey="id"
[value]="locations" 
[tableStyle]="{ 'min-width': '60rem' }" class="table1"
[paginator]="true"
[rows]="10"
[showCurrentPageReport]="true"
[globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"


>
    <ng-template pTemplate="header">
		<div class="flex">
			<button  (click)="clear(dt1)" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Eliminar filtro </button>
			  

        </div>
        <tr>
			<th style="min-width:15rem">
				<div class="flex align-items-center">
					Name
					<p-columnFilter type="text" field="locations.title" display="menu"></p-columnFilter>
				</div>
			</th>


			<th style="min-width:15rem">
				<div class="flex align-items-center">
					Agente
					<p-columnFilter field="agente" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
						<ng-template pTemplate="header">
							<div class="px-3 pt-3 pb-0">
								<span class="font-bold">Agente Picker</span>
							</div>
						</ng-template>
						<ng-template pTemplate="filter" let-value let-filter="filterCallback">
							<p-multiSelect [ngModel]="value" [options]="agentes" placeholder="Any" (onChange)="filter($event.value)" optionLabel="agente">
								<ng-template let-option pTemplate="item">
									<div class="inline-block vertical-align-middle">
										<span class="ml-2 mt-2">{{ option.agente }}</span>
									</div>
								</ng-template>
							</p-multiSelect>
						</ng-template>
					</p-columnFilter>
				</div>
			</th>
			<th style="min-width:15rem">
				<div class="flex align-items-center">
					Email
					<p-columnFilter type="text" field="locations.email" display="menu"></p-columnFilter>
				</div>
			</th>
            <th>Telefono</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-locations>
        <tr>	
            <td>{{ locations.title }}</td>
            <td>{{ locations.agente }}</td>
            <td>{{ locations.email }}</td>
            <td>{{ locations.telefono }}</td>
        </tr>
    </ng-template>
</p-table>
</div>