body{
	padding-top: 30px;
	margin-left: 250px; /*! para que no choque con el fixed del navbar */
}
th{
	padding: 15px;
	font-size: 20px;
	border-bottom: 1px solid #424b57;
	;
}


td{
	border-bottom: 1px solid #424b57
}

.p-button{
	border: #f87171;
	border-radius: 5px;
	border: none;
}

.container{
	border-radius: 5px;
	padding: 10px;
	background-color: #1f2937;
}



.del-edit-btn{
	display: flex;
}

.btnadd{
	border-radius: 5px;
	background-color: #38bdf8;
	border-color: none;
}

.container-btn{
	display: flex;
	justify-content: space-around;
}

input{
	padding: 10px;

}

.inputList{
margin-left: 10px;
}


.btn-info{

}