
th{
	padding: 15px;
	font-size: 20px;
	border-bottom: 1px solid #424b57;
	;
}


td{
	border-bottom: 1px solid #424b57
}

.container{
	border-radius: 5px;
	padding: 10px;
	background-color: #1f2937;
}

.container-btn{
	display: flex;
	justify-content: space-between;
}

.del-edit-btn{
	display: flex;
}

.btnadd{
	margin-right: 2px;
}

.btndel{
	margin-left: 2px;
	border-radius: 10px;
	background-color: #f87171;
	border-color: none;
}