@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer{
	flex: 1 1 auto;
}




.mapboxgl-popup-close-button {
	color: white;
	
	padding: 1px;
	
	left: 150px;
	top: -15px
  }

.mapboxgl-popup-content {
	font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
	padding: 0;
	width: 180px;
  }

.mapboxgl-popup-content h3 {
	background: #555554;
	color: #fff;
	margin: 0;
	padding: 10px;
	border-radius: 3px 3px 0 0;
	font-weight: 700;
	margin-top: -15px;
  }

  .mapboxgl-popup-content span {
	margin: 0;
	padding: 10px;
	font-weight: 400;
  }
  
  .mapboxgl-popup-content div {
	padding: 10px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
	margin-top: 15px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
	border-bottom-color: #91c949;
  }