.map-container{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100vw;
	height: 100vh;
}

.btnContainer{
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	border: none;
}

.btnProvincia{
	position: fixed;
	top: 80px;
	right: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	border: none;
}

input{
	position: fixed;
	margin-top: 250px;
	margin-right: 500px;
}


.btn{
	margin-bottom: 10px;
	border: none;
}



.btnSJ{
	background: #2471A3;
	
}

.btnCar{
	background: #5DADE2;
	border: none;
}

.btnHer{
	background: #F1C40F;
	
}

.btnAla{
	background: #E91E63;
}

.btnLim{
	background: #58D68D
}

.btnGua{
	background: #8E44AD;
}

.btnPun{
	background: #E67E22;
}

.btnAll{
	color: black;
	background: white;
	border: 1px solid black;
}


/*! POPUPS de los marcadores */

