<body>
	
	<div class="container"> 

		<h1 class="title">Perfil de Usuario</h1>
		<div class="info-container">

		<div class="container-image">
			<h6> Imagen de Usuario</h6>
			<img src="{{image}} " alt="">
			<button class="userImagebtn">Cambiar foto de perfil</button>
		</div>

		<div class="container-UserInfo">
			<h6>
				informacion del Usuario
			</h6>
			<label for="">Nombre</label>
			<input 
			class="form-control"
			type="text">

			<label for="">Correo</label>
			<input 
			class="form-control"
			type="text">

			<button class="userbtn">Actualizar Informacion</button>

		</div>


		<div class="container-UserInfo">
			<form action="" [formGroup]="updateFormPassword">
			<h6>
				Cambiar contraseña
			</h6>
			<label for="">Contraseña Actual</label>
			<input 
			formControlName="password"
			placeholder= "Ingrese su contraseña actual"
			class="form-control"
			type="text">

			<label for="">Nueva contraseña</label>
			<input 
			formControlName="newPassword"
			placeholder= "Nueva contraseña"
			class="form-control"
			type="text">

			
			<label for="">Repita su nueva contraseña</label>
			<input 
			formControlName="newPassword2"
			placeholder= "Repita su contraseña"
			class="form-control"
			type="text">

			<button (click)="changePassword()" class="userbtn">Actualizar Contraseña</button>
			</form>
		</div>
		</div>




	</div>

</body>