body{
	margin-left: 250px;
	color: white;

	}

.flex{
	display: flex;
	justify-content: space-around;
}

.container{
	display: flex;
	
}

.info-container p{
	color: whitesmoke;
	opacity: 0.5;
	
}

.info-container, .password-container{
	width: 50%;
	background-color: #1f2937;
	padding: 20px;
	margin: 20px;
	font-weight: 100;
	border-radius: 10px;
	box-shadow: 20px 10px 20px rgb(44, 45, 46)
}

.changeEmailNameContainer, .changeImageContainer{
	display: flex;
	flex-direction: column;
}

.changeEmailNameContainer input {
	width: 250px;
}

.changeEmailNameContainer button {
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin-top: 100px;
	background: #DADADA;
	color: #1f2937;
	font-weight: 700;
}

.changeImageContainer button{
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
	background: #DADADA;
	color: black;
	font-weight: 700;
}

.changeImageContainer .btn-upload{
	background: #2dd4bf;
}

.BtnUpdated{
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
	background: #DADADA;
	color: #1f2937;
	font-weight: 700
}

label{
	margin: 20px 0px 20px;
}

img, .img-avatar{
	width: 200px;
	border-radius: 5px;
	height: 200px;
}

.changePasswordContainer button{
	padding: 15px;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
	background: #DADADA;
	color: black;
	font-weight: 700;
}

.btns-upload{
	margin: 0 auto;
}

.inputPasswordReset{
	display: flex;
	align-items: center;
}


/*! ESTILO TELEFONO */



@media only screen and (max-width: 1400px) {
	
body{
	margin-left: 0px;
	color: white;
}

.container{
	flex-direction: column;
	align-items: center;
}

.info-container, .password-container{
	width: 50%;
	background-color: #1f2937;
	padding: 20px;
	margin: 20px;
	font-weight: 100;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,1);

}

.principalTitle{
    display: none
  }


.flex{
	display: flex;
	flex-direction: column;
}

.changeEmailNameContainer button {

	margin-top: 50px;
	width: 100%;

}

.changeEmailNameContainer input {

	width: 100%;

}

}

@media only screen and (max-width: 1000px) { 
	
	.info-container, .password-container{
		width: 100%;

	
	}
}



.inputBox{
	position: relative;
	width: 300px
}

.inputBox input{
	border: none;
	outline: none;
	width: 100%;

}
.inputBox span{
	position: absolute;
	left: 0;
	padding:15px 20px;
}

#toggle{
    position: absolute;
    top: 50%;
    transform: translateY(70%);
    right: 5px;
    width: 30px;
    height: 30px;
}

.eye-icon{
	color: black;
	font-size: 20px;
	transform: translate(0, -50%);
	top: 50%;
	cursor: pointer;

}