body{
	margin-left: 250px;
	color: white;

	}
/* 
.container{
	background-color:#1f2937;
	border-radius: 5px;
	width: 70%;
}

.info-container{
	display: flex;
	justify-content: space-around
}
.container-UserInfo{
	display: flex;
	flex-direction: column;
	padding: 25px;
}

h6{
	margin-bottom: 20px;
}

.title{
	padding: 25px;
}

.container-image{
	width: 300px;
	padding: 20px;
	border: 1px solid #646e7c;
	display: flex;
	justify-content: center;
}

.userImagebtn{
	
	border: none;
	padding: 20px;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

img{
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	
}

.userbtn{
	border: none;
	border-radius: 5px;
	padding: 14px;
	margin-top: 20px
}

input{
	margin: 5px;
}

.container-image{
	display: flex;
    flex-direction: column;
    align-items: center;
	margin: 25px;
} */


.container{
	display: flex;
}

.info-container p{
	color: whitesmoke;
	opacity: 0.5;
}

.info-container, .password-container{
	width: 50%;
	background-color: #1f2937;
	padding: 20px;
	margin: 20px;
	font-weight: 100;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,1);

}

.changeEmailNameContainer{
	display: flex;
	flex-direction: column;
}

.changeEmailNameContainer label{
	margin: 20px 0px 20px;
}

.changeEmailNameContainer input{
}