
<body>
	<h1 class="principalTitle">Perfil de Usuario</h1>

	<div class="container">

		
		<div class="info-container">
			
			<h4>Mi perfil de usuario</h4>
			<p>Ajustes</p>

			<div class="flex">

			<div class="changeImageContainer">
				<label for="">Mi foto de perfil</label>
				<img *ngIf="!imgTemporal" src="{{ currentUser!.image }}" class="img-avatar" alt="" />
				<img *ngIf="imgTemporal" src="{{ imgTemporal }}" class="img-avatar" />
				<input type="file" (change)="uploadFile($event)" id="selectedFile" style="display: none;" />
				<input type="button" class="BtnUpdated" value="Actualizar Imagen" onclick="document.getElementById('selectedFile').click();"/>
				
					<div class="btns-upload">
						
						<button *ngIf="file" class="btn-upload" (click)="upImage()">
						  Guardar Imagen
						</button>
					  </div>
			</div>

			<form action="" [formGroup]="updateFormUserInfo">

				<div class="changeEmailNameContainer">
					<label for="">Nombre de Usuario</label>
					<input 
					formControlName="name"
					class="form-control"
					type="text">
	
					<label for="">Direccion de Correo Electronico</label>
					<input 
					formControlName="email"
					class="form-control"
					type="text">
	
					<button (click)="updateUser()">Editar Usuario</button>
					
				</div>

			</form>

			</div>
		</div>


		<div class="password-container">
			<h4>Cambiar contraseña</h4>
			<p>Ajustes</p>
		<form action="" [formGroup]="updateFormPassword">
			<div class="changePasswordContainer">
				<label for="">Digite su contraseña</label>
				<input
				formControlName="password"
				class="form-control"
				type="password">

				<label for="">Nueva contraseña</label>
				<input
				formControlName="newPassword"
				class="form-control"
				type="password">

				<label for="">Repita contraseña</label>
				<input
				formControlName="newPassword2"
				class="form-control"
				type="password">

				<button (click)="changePassword()">Modificar contraseña</button>
			</div>
		</form>



		</div>
	



	</div>

</body>
